<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Tests">
    <test verbose="2" preserve-order="true" name="/Users/ayc0921/Downloads/Capstone_Project_iTJ_AyleenCerda">
        <classes>
            <class name="MainStoreTests"/>
        </classes>
    </test>
</suite>